.banner{
    position: relative;
}

.banner__img-screen{
    display: none;
}

.banner__btn a{
    position: absolute;
    width: 90%;
    right: 5%;
    padding: 20pt;
    text-align: center;
    bottom: 40px;
    background-color: rgba(184, 45, 91, 0.6);
    border-radius: 10px;
    text-shadow: 2px 0px black;
    color: white;
    font-family: var(--font-family-titles);
    font-size: 20pt;
    text-decoration: none;

}

.banner__btn a:hover{
    background-color: rgba(255,255,255, 0.8);
    color: var(--color2-color);
    transition: all 1s ease-in-out;
}

@media (min-width:850px) {
    .banner__img-screen{
        display: block;
        height: 80%;
        object-fit: cover;
        object-position: left;
        
    }
    .banner__img-mobile{
        display: none;
    }
}