nav {
    font-family: 'Creepster', Arial, Helvetica, sans-serif, system-ui;
    z-index: 100;
}

.navbar{
    position: fixed;
    top: 0;
    right: 10px;
    margin: 20px 10px 0 0;
    border: 1pt solid lightgrey;
    background-color: whitesmoke;
    border-radius: 15px;
    display: flex;
    flex-direction: row-reverse;
    row-gap: 20px;
}

.navbar a{
    text-decoration: none;
    font-size: 2rem;
    color: var(--color1-color);
    font-family: 'Creepster', Arial, Helvetica, sans-serif, system-ui;
}

.navbar a:hover{
    color: var(--color2-color);
    background-color: var(--color1-color);
    padding: 10pt;
    transition: all 1s ease-in-out;
}

.navbar__menu {
    list-style: none;
    display: none;
    padding: 0 20px;
}
.navbar__menu__item {
    margin: 10px
}

#checkmenu {
    z-index: 3;
    position: absolute;
    top:0;
    right:10px;
    width: 80px;
    height: 120%;
    opacity: 0;
    cursor: pointer;
}

#checkmenu:checked ~ .navbar__menu{
    display: block;
}

#checkmenu:checked ~ .menu{
    display: none;
}

#checkmenu:checked ~ .close{
    display: flex;
}


.menu, .close{
    display: block;
    font-family: 'Creepster', Arial, Helvetica, sans-serif, system-ui;
    color: var(--color1-color);
    text-align: center;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
    cursor: pointer;
    width: 80px;
    margin: 10pt;
    background-color: white;
    border-radius: 10pt;
}

.close {
    display: none;
}

@media (min-width:850px) {

    #checkmenu, .menu, .close {
        display: none;
    }
    
    .navbar, .navbar__menu{
        display: flex;
        gap: 25pt;
    }
    .navbar {
        right: calc(50% - 425px);
    } 
}

@media (min-width:1200px) {
    .navbar {
        right: calc(50% - 600px);
    }
}

@media (min-width:1600px) {
    .navbar {
        right: calc(50% - 800px);
    }
}