.skills__list {
    display: grid;
    gap: 10px;
    max-width: 350px;
    align-items: center;
    justify-content: center;
  }

.skills__list h2{
font-family: var(--font-family-titles);
padding: 10px;
color: var(--color1-color);
}
.skills__list p{
    padding: 10px;
    color: var(--color-aux-font);
    font-style: italic;
    text-align: justify;
    margin: 0;
    font-size: 12pt;
}

.skills__level-container {
    min-width: 60%;
    padding: 10pt;
    border-radius: 15pt;
    border: 2pt solid var(--color1-color);
    background-color: white;
}

.skills__level-bar {
    background-color: var(--color1-color) ;
    border-radius: 15pt 0 0 15pt;
    padding: 5px 15px;
    color: white;
}

.skills__level-bar {
    /* Define tu animación aquí */
    animation-name: animationBar;
    animation-duration: 2s;
}

@keyframes animationBar {
    0% {
        width: 0%;
    }
}

#skill1 {
    width: 80%;
}

#skill2, #skill7 {
    width: 100%;
    border-radius: 15pt;
}

#skill3, #skill10 {
    width: 40%;
}

#skill4{
    width: 90%;
}

#skill5{
    width: 60%;
}

#skill6, #skill9 {
    width: 50%;
}

#skill8 {
    width: 70%;
}


@media (min-width:800px) {

    .skills__list {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 300px;
        align-items: start;
        gap: 10px;
        max-width: 1000px;
        grid-gap: 30px;
        margin: 30px
      }

}

@media(min-width: 1200px) {
    .main {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
    }
    .aboutme{
        grid-column: span 2;
    }
    .skills {
        grid-row: span 2;
    }
}