*, *::before, *::after {
	box-sizing: border-box;
    margin:0;
    padding: 0;
}

* {
    font-family: var(--font-family);
    max-width: var(--content-max-width);

}

body {
    min-width: 300px;
    background-color: var(--backgd-color);

}

h1 {
    font-family: 'Flavors', cursive;
    font-size: 35pt;
    text-transform: uppercase;
    color: white;
    background-color: #20aacc;
}

h3 {
    font-family: 'Lacquer', system-ui;
    font-size: 18pt;
    text-align: center;
    padding: 0 20px;
    font-weight: bold ;   
    text-transform: uppercase;
    color: var(--color1-color);
}